  
   .container{
     align-items: center;
        border: lightgray solid 2px; 
   }
    .container .box {  
                width:540px;  
                margin:auto;  
                display:table;
               
            }  
            .container .box .box-row {  
                display:table-row;  
            }  
            .container .box .box-cell {  
                display:table-cell;  
                width:33%;  
                padding:10px; 
            } 
            h1{
              text-align: center;
            }
            .container .box .box-cell-header {  
                display:table-cell;  
                width:33%;  
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 0px;
            } 
    .info-card{
    position: absolute;
    transform: translate(10%, 0%);
    border: 2px solid lightgrey;
    padding: 10px;
    margin-left: 20%;
    width: 50%;
   
}
    .personal-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start ;
    align-items: baseline;
}
.name{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
   margin-top: -10px;
   margin-bottom: -10px;
   margin-left: 5px;
   margin-right: 5px;
}
label{
margin-right: 2px;
}

 .button{
  margin-left: 30%;
  width: 30%;
}
.posts-list{
  margin-bottom: 5px;;
   border-bottom: 1px solid black;
}